RI/App_WebReferences/DevLDAP/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ipaper.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ipaper.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ipaper.com/">
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:LdapProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LdapProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="distinguishedname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastlogoff" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="useraccountcontrol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usncreated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="objectguid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="whenchanged" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="memberof" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountexpires" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="displayname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="employeenumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primarygroupid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="streetaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="badpwdcount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="objectclass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="objectcategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="instancetype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="homedrive" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="samaccounttype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="homedirectory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="whencreated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastlogon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="l" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="st" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="co" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="samaccountname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="employeetype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="givenname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="adspath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lockouttime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scriptpath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pwdlastset" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logoncount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codepage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="physicaldeliveryofficename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usnchanged" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dscorepropagationdata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userprincipalname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="badpasswordtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="objectsid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephonenumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logonhours" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastlogontimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PropertyNameValueDataTable">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="tns:LdapProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LdapProfile" nillable="true" type="tns:LdapProfile" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="DomainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpGetOut">
    <wsdl:part name="Body" element="tns:LdapProfile" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="DomainName" type="s:string" />
    <wsdl:part name="PassWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpGetOut">
    <wsdl:part name="Body" element="tns:LdapProfile" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="DomainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserHttpPostOut">
    <wsdl:part name="Body" element="tns:LdapProfile" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="DomainName" type="s:string" />
    <wsdl:part name="PassWord" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserHttpPostOut">
    <wsdl:part name="Body" element="tns:LdapProfile" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserHttpGetIn" />
      <wsdl:output message="tns:GetUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpGetIn" />
      <wsdl:output message="tns:AuthenticateUserHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserHttpPostIn" />
      <wsdl:output message="tns:GetUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserHttpPostIn" />
      <wsdl:output message="tns:AuthenticateUserHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://ipaper.com/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://ipaper.com/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://ipaper.com/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://ipaper.com/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetUser">
      <http:operation location="/GetUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetUser">
      <http:operation location="/GetUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <http:operation location="/AuthenticateUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://s29edev13-2/LDAP/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://s29edev13-2/LDAP/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://s29edev13-2/LDAP/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://s29edev13-2/LDAP/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>